@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

body {
    margin: 0;
}

.popB {
    font-family: 'Poppins', 'sans-serif';
    font-weight: 600;
}

.popS {
    font-family: 'Poppins', 'sans-serif';
    font-weight: 400;
}

.hoverEffect::after {
    content: '';
    position: absolute;
    left: 0px;
    bottom: -2px;
    height: 4px;
    width: 0;
    background-color: rgb(33, 182, 208);
    transition: width 0.2s ease-in-out;
}

.hoverEffect:hover::after {
    width: 100%;
}